.time-line-block__heading {
	h4 {
		margin: 0 0 10px;
		color: #59C2C4;
		font-family: "Futura-Book",sans-serif;
		font-size: 34px;
		line-height: 1.3;
		letter-spacing: 0.68px;
	}
}
.item-title.h5 {
	margin-bottom: .5rem!important;
    font-weight: 500;
    line-height: 1.2;
}