.badge-contextual {
	display: inline-block;
	padding: 0.25em 10px .4em;
	border-radius: 0;
	font-family: $default-font-family-semi-bold;
	font-size: 12px;
	color: $first-color;
	text-transform: uppercase;
	line-height: 38px;
	vertical-align: bottom;

	&.badge--sm {
		height: 30px;
		line-height: 24px;
	}

	&.in-stock {
		background-color: $seventh-color;
	}
}

.badge__u-design {
	display: inline-block;
	background-color: $seventeenth-bg-color;
	font-family: $default-font-family-bold;
	@include fluid-type(font-size, 320px, 1510px, 12px, 14px);
	text-transform: uppercase;
	line-height: 1.2;
	padding: 0 5px;
	color: $first-color;
}

.badge__required {
	display: inline-block;
	font-family: $default-font-family-semi-bold;
	font-style: italic;
	@include fluid-type(font-size, 320px, 1510px, 14px, 16px);
	line-height: 1.2;
	color: $fifth-color;
}

.eSignComplete {
	background-color: #418D4E;
	padding: 5px;

	img{
		width: 18px;
	}

	&-text {
		font-size: 14px;
		margin: 0 10px;
		text-transform: uppercase;
		font-family: $default-font-family-semi-bold;
		color: #ffffff;
	}
}
