#
Options +FollowSymlinks
#RewriteBase /
RewriteEngine on
#
# prevent infinite loops
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]
#
#
RewriteRule ^$ template_default.php?slug=home [L]
#
#
#
#
#/showroom-category-69/custom-closet-organizers-for-wardrobes.html
#RewriteRule ^showroom-category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom&CatId=$1 [L]
#
#organizer-landing-page
RewriteRule ^showroom-category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=organizer-landing-page&CatId=$1 [L]
RewriteRule ([^.]+)/showroom-category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=organizer-landing-page&prodCatId=$2 [L]
#
#
#...com/closet-organizers/showroom-76/reach-in-craft-closet-organizer.html
#showroom-detail-view-category
RewriteRule ^showroom-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-category&productId=$1 [L]
RewriteRule ([^.]+)/showroom-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-category&productId=$2 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/showroom-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-category&productId=$4 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/([^.]+)/showroom-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-category&productId=$5 [L]
#
#
#
#...com/category-33/raised-panel-fronts-door-options.html
#solution-detail-view
#
#
RewriteRule ^category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=solution-detail-view&productId=$1 [L]
RewriteRule ([^.]+)/category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=solution-detail-view&productId=$2 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=solution-detail-view&productId=$4 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/([^.]+)/category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=solution-detail-view&productId=$5 [L]
#
#
#
#showroom-detail-view-product
RewriteRule ^product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-product&productId=$1 [L]
RewriteRule ([^.]+)/product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-product&productId=$2 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-product&productId=$4 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/([^.]+)/product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-product&productId=$5 [L]
#
#localhost/product-60/docking-station-300-ipod-iphone.html
RewriteRule ^product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=product-details&productId=$1 [L]
#
#
#
#
#
RewriteRule ^([^/\.]+).html?$ template_default.php?slug=$1 [L]
#
RewriteRule ^([^/\.]+)/([^/\.]+).html?$ template_default.php?slug=$2 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+).html?$ template_default.php?slug=$3 [L]
#
#
#
