
.ask_col_left{
	float:left;
	width:186px;
	height:100%;
}

.ask_col_mid{
	float:left;
	width:556px;
	height:100%;
	padding-left:20px;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#c2c2c2;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#c2c2c2;
}

.ask_col_right{
	float:left;
	padding-left:20px;
}

.ask_vline_fill_left{
	position:relative;
	float:right;
	right:-2px;
	top:-15px;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#c2c2c2;
	height:18px;
	width:1px;	
}

.ask_vline_fill_mid{
	position:relative;
	float:right;
	right:-2px;
	top:-15px;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#c2c2c2;
	height:18px;
	width:1px;	
	 	
}

.ask_grey_head{
	padding-top:10px;
	padding-bottom:10px;
	font-size:16px;
	font-weight:bold;
}

.ask_bullet{
	padding-right:6px;
}

.ask_textarea{
	width:532px; 
    height:100px; 
	border: 1px solid #c2c2c2;
}

.ask_main{
	float:left;
	width:720px;
	padding-left:20px;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#c2c2c2;		
}

.ask_3col_left{
	width:300px;
	float:left;
}

.ask_3col_mid{
	width:300px;
	float:left;
}

.ask_3col_right{
	width:300px;
	float:right;
}
