


.frm_vmsg{
	padding-top:0px;
	font-size:11px;
	color: #cf0623!important;
	
}



.star{
	position:relative;
	top:4px;
	right:4px;
	padding-left:8px;
	font-size:16px; 
	color:#ff821e; 
}


.frm_small{
        color:#666666;
        font-size:11px;
        font-weight:normal;
        text-align:right;
}

.frm_input_area{
	margin-top:20px;
}

.form_input_df{
	margin-left:6px;;
	width:94%;
	max-width:236px;
	margin-bottom:6px;
}


.form_input_small_left_df{
	float:left;
	margin-left:6px;
	width:113px;
	margin-bottom:6px;
}

.form_input_df{
	margin-left:6px;;
	width:94%;
	max-width:236px;
	margin-bottom:6px;
}
