/*===================================================
   IE 8 Overrides to mimic CSS3 and fix layout
===================================================*/
#manage_navigation{
	margin-left: 0px;
}
#manage_navigation li ul li{
	margin-left: 16px;
	color: red;
}
.lightboxcontent {
	padding: 2% 10% 10%;	
}
.colcontainer .threecols {
	margin-right: 1%;
	width: 32%;
	float: left;	
}
.colcontainer .twocols {
	margin-right: 1%;
	width: 48%;
	float: left;
}
.categoryoptions {
	position: static;	
}