@-ms-viewport {
  width: device-width;
}
/*@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;*/
/*@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 31px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */

  filter: gray;
  /* IE6-9 */

  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */

}
#gradient .arrow-gradient {
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%), -moz-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(86%, rgba(209, 209, 209, 0)), color-stop(87%, rgba(206, 206, 206, 0.83)), color-stop(88%, #ffffff), color-stop(89%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, right top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(86%, rgba(209, 209, 209, 0)), color-stop(87%, rgba(206, 206, 206, 0.83)), color-stop(88%, #ffffff), color-stop(89%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%), -o-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%), -ms-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%);
  /* IE10+ */

  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%), linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(209, 209, 209, 0) 86%, rgba(186, 186, 186, 0.83) 87%, #ffffff 88%, rgba(255, 255, 255, 0) 89%);
  /* W3C */

}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
@media (min-width: 1270px) {
  .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 31px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }
  .row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%;
  }
  .row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%;
  }
  .row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%;
  }
  .row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%;
  }
  .row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%;
  }
  .row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%;
  }
  .row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%;
  }
  .row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%;
  }
  .row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%;
  }
  .row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%;
  }
  .row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%;
  }
  .row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1156px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1056px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 956px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 856px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 756px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 656px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 556px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 456px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 356px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 256px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 156px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 56px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
  .span12 {
    width: 724px;
  }
  .span11 {
    width: 662px;
  }
  .span10 {
    width: 600px;
  }
  .span9 {
    width: 538px;
  }
  .span8 {
    width: 476px;
  }
  .span7 {
    width: 414px;
  }
  .span6 {
    width: 352px;
  }
  .span5 {
    width: 290px;
  }
  .span4 {
    width: 228px;
  }
  .span3 {
    width: 166px;
  }
  .span2 {
    width: 104px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 764px;
  }
  .offset11 {
    margin-left: 702px;
  }
  .offset10 {
    margin-left: 640px;
  }
  .offset9 {
    margin-left: 578px;
  }
  .offset8 {
    margin-left: 516px;
  }
  .offset7 {
    margin-left: 454px;
  }
  .offset6 {
    margin-left: 392px;
  }
  .offset5 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 268px;
  }
  .offset3 {
    margin-left: 206px;
  }
  .offset2 {
    margin-left: 144px;
  }
  .offset1 {
    margin-left: 82px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 31px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.7624309392265194%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }
  .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }
  .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }
  .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }
  .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }
  .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }
  .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }
  .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
  .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }
  .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }
  .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }
  .row-fluid .offset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.41847889972962%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.6560479605031%;
  }
  .row-fluid .offset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.8549429881274%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09251204890089%;
  }
  .row-fluid .offset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2914070765252%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.52897613729868%;
  }
  .row-fluid .offset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.72787116492299%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.96544022569647%;
  }
  .row-fluid .offset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.16433525332079%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40190431409427%;
  }
  .row-fluid .offset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.600799341718584%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.838368402492065%;
  }
  .row-fluid .offset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.037263430116376%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.27483249088986%;
  }
  .row-fluid .offset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47372751851417%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71129657928765%;
  }
  .row-fluid .offset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91019160691196%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.14776066768544%;
  }
  .row-fluid .offset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.346655695309746%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.584224756083227%;
  }
  .row-fluid .offset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.783119783707537%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.02068884448102%;
  }
  .row-fluid .offset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.219583872105325%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.457152932878806%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 710px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 648px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 586px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 524px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 462px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 400px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 338px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 276px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 214px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 152px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 90px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 28px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 31px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}
@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 21px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .media .pull-left,
  .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px;
  }
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }
  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}
@media (min-width: 1270px) {
  h1 {
    font-size: 37px;
  }
  header,
  header.container {
    padding: 0px 30px;
  }
  .page-content {
    border-left: 30px solid #ffffff;
    border-right: 30px solid #ffffff;
  }
  nav#main-nav > ul > li.multiple-subnavs > .subnav {
    width: 1170px;
  }
  nav#main-nav > ul > li.multiple-subnavs > .subnav > li {
    width: 272.5px;
  }
  nav#main-nav > ul > li > a {
    font-size: 16px;
    padding: 10px 15px;
  }
  footer,
  footer.container {
    width: 1230px;
  }
  footer #email_updates_input,
  footer.container #email_updates_input {
    width: 220px;
  }
  footer.container .footer-bottom-row .span2.col5 {
    width: 204px;
  }
  .ask_mainnav,
  .ask_hero {
    padding: 12px 30px;
  }
  .sidebar-left aside,
  .sidebar-right aside {
    width: 270px;
  }
  .sidebar-left {
    box-shadow: inset 120px 0px 75px -25px #ffffff, inset -930px 0px 0px #ffffff, 0px 0px 25px rgba(0, 0, 0, 0.25);
  }
  .sidebar-right {
    box-shadow: inset -120px 0px 75px -25px #ffffff, inset 930px 0px 0px #ffffff, 0px 0px 25px rgba(0, 0, 0, 0.25);
  }
  .showroom-content {
    width: 900px;
  }
  .category {
    margin-left: 24px;
  }
  .home-content .row.categories .span2.category {
    margin-left: 48px;
  }
  .span3 > .itembox {
    margin-bottom: 30px;
  }
  .span3 > .itembox .product-image {
    width: 240px;
  }
  .totals-right {
    width: 220px;
  }
  .cart-item .product-image {
    max-height: 98px;
  }
  .showroom-content .showroom-thumbnails {
    height: 180px;
  }
  .showroom-content .showroom-thumbnails .slider {
    height: 140px;
  }
  .itembox .span12 {
    width: 1150px;
  }
  .itembox .span11 {
    width: 1050px;
  }
  .itembox .span10 {
    width: 950px;
  }
  .itembox .span9 {
    width: 850px;
  }
  .itembox .span8 {
    width: 750px;
  }
  .itembox .span7 {
    width: 650px;
  }
  .itembox .span6 {
    width: 550px;
  }
  .itembox .span5 {
    width: 450px;
  }
  .itembox .span4 {
    width: 350px;
  }
  .itembox .span3 {
    width: 250px;
  }
  .itembox .span2 {
    width: 150px;
  }
  .itembox .span1 {
    width: 50px;
  }
  .itembox .offset12 {
    margin-left: 1210px;
  }
  .itembox .offset11 {
    margin-left: 1110px;
  }
  .itembox .offset10 {
    margin-left: 1010px;
  }
  .itembox .offset9 {
    margin-left: 910px;
  }
  .itembox .offset8 {
    margin-left: 810px;
  }
  .itembox .offset7 {
    margin-left: 710px;
  }
  .itembox .offset6 {
    margin-left: 610px;
  }
  .itembox .offset5 {
    margin-left: 510px;
  }
  .itembox .offset4 {
    margin-left: 410px;
  }
  .itembox .offset3 {
    margin-left: 310px;
  }
  .itembox .offset2 {
    margin-left: 210px;
  }
  .itembox .offset1 {
    margin-left: 110px;
  }
  .cart-item .itembox .span12 {
    width: 1170px;
  }
  .cart-item .itembox .span11 {
    width: 1070px;
  }
  .cart-item .itembox .span10 {
    width: 970px;
  }
  .cart-item .itembox .span9 {
    width: 870px;
  }
  .cart-item .itembox .span8 {
    width: 770px;
  }
  .cart-item .itembox .span7 {
    width: 670px;
  }
  .cart-item .itembox .span6 {
    width: 570px;
  }
  .cart-item .itembox .span5 {
    width: 470px;
  }
  .cart-item .itembox .span4 {
    width: 370px;
  }
  .cart-item .itembox .span3 {
    width: 270px;
  }
  .cart-item .itembox .span2 {
    width: 170px;
  }
  .cart-item .itembox .span1 {
    width: 70px;
  }
  .cart-item .itembox .offset12 {
    margin-left: 1230px;
  }
  .cart-item .itembox .offset11 {
    margin-left: 1130px;
  }
  .cart-item .itembox .offset10 {
    margin-left: 1030px;
  }
  .cart-item .itembox .offset9 {
    margin-left: 930px;
  }
  .cart-item .itembox .offset8 {
    margin-left: 830px;
  }
  .cart-item .itembox .offset7 {
    margin-left: 730px;
  }
  .cart-item .itembox .offset6 {
    margin-left: 630px;
  }
  .cart-item .itembox .offset5 {
    margin-left: 530px;
  }
  .cart-item .itembox .offset4 {
    margin-left: 430px;
  }
  .cart-item .itembox .offset3 {
    margin-left: 330px;
  }
  .cart-item .itembox .offset2 {
    margin-left: 230px;
  }
  .cart-item .itembox .offset1 {
    margin-left: 130px;
  }
  #rate-heading {
    padding-top: 10px;
  }
  .page-content .browse-brands .brand-list-alpha > li a {
    margin-right: 6px;
    padding: 5px 8px;
  }
  .search-controls .display-type,
  .search-controls .pagination,
  .search-controls .results-per-page,
  .search-controls .sort-results {
    font-size: 13px;
  }
  .search-controls .search-designs input,
  .search-controls .search-orders input {
    width: 200px;
  }
  .search-controls .result-summary {
    font-size: 18px;
  }
  .home_CTA_form table input {
    width: 237px;
  }
  .span3.account-column {
    width: 240px;
    padding: 0 15px;
  }
  .span3.account-column h2.account-header {
    margin-top: 15px;
  }
  .idea_hero {
    border-left: 30px solid #e0e7ed;
    border-right: 30px solid #e0e7ed;
  }
  .idea_left {
    margin-left: 0;
  }
  .full_page_blue {
    margin-left: -30px;
    border: 30px solid #f0f6f9;
  }
  .sidebar-left .intro_area,
  .sidebar-right .intro_area {
    padding: 0 0 30px 30px;
    margin-left: 0;
  }
  .intro_area {
    padding: 0 30px 30px;
    margin-left: -30px;
  }
  .offsethalf {
    margin-left: 65px;
  }
  .design_email_form {
    margin-left: -20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .hide-tablet,
  .hide-tablet.hide-desktop {
    display: none;
  }
  .hide-desktop {
    display: block;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  header.container {
    padding: 0;
    height: 140px;
  }
  header.container .cta {
    display: none;
  }
  header.container .logo-image {
    width: 45%;
    margin-left: 0;
    position: absolute;
    left: 5px;
    bottom: 25px;
  }
  header.container .header-search {
    width: 45%;
    bottom: 35px;
  }
  header.container .header-search .header-search-input {
    width: 68%;
  }
  header.container .header-search .btn {
    width: 18%;
    padding: 0;
  }
  .container,
  header.container,
  footer.container {
    width: 95%;
    padding: 0 2.5%;
    border: none;
  }
  .page-content {
    border: none;
    padding-bottom: 20px;
  }
  .row.row-fluid {
    margin-left: 0;
  }
  .row.row-fluid .span9 .span9 {
    width: 100%;
    margin-left: 0;
  }
  .row.row-fluid .span6 .span6 {
    width: 100%;
  }
  .row.row-fluid .span6 .span3 {
    width: 48%;
  }
  .row.row-fluid aside.span3 {
    margin-left: 0;
  }
  .row.row-fluid .span12 {
    margin-left: 0;
  }
  .row.row-fluid .span6.pull-right {
    width: 45%;
  }
  .row.row-fluid .span4 .span4 {
    width: 100%;
  }
  .row.row-fluid .span8 .span8 {
    width: 100%;
  }
  .results .row.row-fluid .span3 {
    width: 30%;
  }
  .results .row.row-fluid .span3:first-child {
    margin-left: 2.25%;
  }
  .checkout.row-fluid .span8 {
    margin-left: 0;
  }
  .showroom-page .hide-tablet {
    display: none;
  }
  .showroom-page .showroom-content-container {
    width: 100%;
    margin-left: 0;
  }
  .showroom-page .showroom-main-image-container {
    width: 100%;
    float: none;
  }
  .showroom-page .showroom-detail-container {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .showroom-page .showrooms-banner h1,
  .showroom-page .showroom-banner h1 {
    font-size: 16px;
    line-height: normal;
  }
  .showroom-page .offset3.next-showroom {
    float: right;
  }
  .categories .span3.category:nth-child(5n+0),
  .categories .span4.category:nth-child(4n+0) {
    margin-left: 0;
  }
  footer.container .footer-bottom-row .span2.col5 {
    width: 17.4468085106383%;
  }
  .thumbnail-links li {
    padding: 5px;
    line-height: 15px;
  }
  .thumbnail-links li a {
    display: block;
    position: relative;
    width: 90%;
    padding: 5%;
  }
  .thumbnail-links li img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    left: -12px;
  }
  footer.container .footer-top-row {
    padding-left: 5%;
    margin-left: -5%;
    padding-right: 5%;
  }
  .home-content .row.categories .span2.category {
    width: 22%;
    margin-left: 2.127659574468085%;
  }
  .home-content .gutter-top .gutter-top {
    margin-top: 0;
  }
  nav#main-nav > ul > li.multiple-subnavs > .subnav {
    width: 724px;
  }
  nav#main-nav > ul > li.multiple-subnavs > .subnav > li {
    width: 161px;
  }
  nav#main-nav > ul > li > a {
    font-size: 12px;
    padding: 10px 5px;
  }
  .ask_masthead .logo-image img {
    max-width: 300px;
    height: auto;
  }
  .ask_mainnav,
  .ask_hero {
    padding: 12px 20px;
  }
  .sidebar-left aside,
  .sidebar-right aside {
    width: 166px;
  }
  .sidebar-left {
    box-shadow: inset 120px 0px 75px -25px #ffffff, inset -578px 0px 0px #ffffff, 0px 0px 25px rgba(0, 0, 0, 0.25);
  }
  .sidebar-right {
    box-shadow: inset -120px 0px 75px -25px #ffffff, inset 578px 0px 0px #ffffff, 0px 0px 25px rgba(0, 0, 0, 0.25);
  }
  .showroom-content {
    width: 598px;
    margin-left: -20px;
  }
  .category {
    margin-left: 14px;
  }
  .span3 > .itembox {
    margin-bottom: 20px;
  }
  .span3 > .itembox .product-image {
    width: 95%;
  }
  .span3 > .itembox .qty {
    display: block;
  }
  .results .span3 .add-to-cart {
    padding: 0 6px;
    font-size: 9.75px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .results .span3 > .itembox .qty {
    display: block;
    width: 30px;
  }
  .results .span3 > .itembox .qty input {
    width: 18px;
  }
  .cart-item .product-image {
    width: 75%;
  }
  .cart-item .btn-link {
    margin: 5px;
    padding: 5px 10px;
    background-color: #e9e9e9;
    background-image: -moz-linear-gradient(top, #ededed, #e2e2e2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #ededed, #e2e2e2);
    background-image: -o-linear-gradient(top, #ededed, #e2e2e2);
    background-image: linear-gradient(to bottom, #ededed, #e2e2e2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffededed', endColorstr='#ffe2e2e2', GradientType=0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    line-height: 21px;
  }
  .cart-item a.btn-link {
    display: inline-block;
    margin-left: 0;
  }
  .discount-box form input {
    width: 100px;
  }
  .itembox .span12 {
    width: 704px;
  }
  .itembox .span11 {
    width: 642px;
  }
  .itembox .span10 {
    width: 580px;
  }
  .itembox .span9 {
    width: 518px;
  }
  .itembox .span8 {
    width: 456px;
  }
  .itembox .span7 {
    width: 394px;
  }
  .itembox .span6 {
    width: 332px;
  }
  .itembox .span5 {
    width: 270px;
  }
  .itembox .span4 {
    width: 208px;
  }
  .itembox .span3 {
    width: 146px;
  }
  .itembox .span2 {
    width: 84px;
  }
  .itembox .span1 {
    width: 22px;
  }
  .itembox .offset12 {
    margin-left: 744px;
  }
  .itembox .offset11 {
    margin-left: 682px;
  }
  .itembox .offset10 {
    margin-left: 620px;
  }
  .itembox .offset9 {
    margin-left: 558px;
  }
  .itembox .offset8 {
    margin-left: 496px;
  }
  .itembox .offset7 {
    margin-left: 434px;
  }
  .itembox .offset6 {
    margin-left: 372px;
  }
  .itembox .offset5 {
    margin-left: 310px;
  }
  .itembox .offset4 {
    margin-left: 248px;
  }
  .itembox .offset3 {
    margin-left: 186px;
  }
  .itembox .offset2 {
    margin-left: 124px;
  }
  .itembox .offset1 {
    margin-left: 62px;
  }
  .cart-item .itembox .span2 {
    width: 14%;
  }
  .cart .itembox .product-details,
  .confirmation .itembox .product-details {
    width: 31%;
    position: static;
    left: 0;
  }
  .cart.row-fluid #discount-box {
    margin-left: 8.5%;
  }
  header nav.main-nav > ul > li > a,
  header.container.page-shadow nav.main-nav > ul > li > a {
    font-size: 12px;
    padding: 12px 10px;
  }
  header nav.subnav a,
  header.container.page-shadow nav.subnav a {
    font-size: 11px;
    padding: 11px 6px;
  }
  footer h5,
  footer.container h5 {
    font-size: 11px;
  }
  footer .pull-left,
  footer.container .pull-left {
    font-size: 11px;
  }
  footer .footer-middle-row .span4,
  footer.container .footer-middle-row .span4 {
    margin-left: 0;
  }
  footer #email_updates_input,
  footer.container #email_updates_input {
    width: 120px;
  }
  header .contact-info {
    font-size: 16px;
  }
  header .contact-info .phone i,
  header .contact-info . i {
    position: static;
  }
  .member-account .account-header {
    font-size: 18px;
  }
  .member-account h3.gutter-top {
    font-size: 13px;
    line-height: 30px;
  }
  .account-dashboard input {
    width: 65%;
  }
  .span3.account-column {
    width: 22.340425531914892%;
    padding: 0 0.5319148936170213%;
  }
  .design-list h5,
  .order-list h5,
  .folder-list h5,
  .account-list h5 {
    font-size: 12px;
  }
  .design-list > li a,
  .order-list > li a,
  .folder-list > li a,
  .account-list > li a {
    font-size: 11px;
  }
  .design-list ul,
  .order-list ul,
  .folder-list ul,
  .account-list ul {
    font-size: 11px;
  }
  .span3 .design-list .itembox li {
    line-height: 14px;
  }
  .span3 .design-list .itembox li a {
    min-height: 30px;
  }
  .span3 .design-list .itembox li i {
    float: left;
  }
  .account-design-option {
    font-size: 16px;
  }
  .member-account h3.account-actions {
    font-size: 13px;
    line-height: normal;
  }
  .member-account h3.account-actions a {
    min-height: 30px;
  }
  .member-account h3.account-actions a i {
    float: left;
  }
  .browse-brands .brand-list-alpha > li a {
    margin-right: 4px;
    padding: 5px 3px;
  }
  .search-controls {
    font-size: 11px;
    position: relative;
  }
  .search-controls.search-controls-top .search-designs,
  .search-controls.search-controls-top .search-orders {
    float: none;
    position: absolute;
    bottom: -50px;
    left: 0px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .search-controls.search-controls-top .search-designs input,
  .search-controls.search-controls-top .search-orders input {
    width: 200px;
  }
  .search-controls .result-summary {
    display: none;
  }
  .search-controls .sort-results select {
    font-size: 11px;
    width: 115px;
  }
  .search-controls.search-controls-top .search-designs:before {
    content: "Search Designs: ";
  }
  .search-controls.search-controls-top .search-orders:before {
    content: "Search Orders: ";
  }
  .search-controls.search-controls-bottom .search-designs,
  .search-controls.search-controls-bottom .search-orders {
    display: none;
  }
  .home_CTA_form table input {
    width: 133px;
  }
  .home-content .carousel-inner {
    height: 320px;
  }
  .home-content .carousel-caption {
    font-size: 18px;
  }
  .idea_hero {
    border-left: 20px solid #e0e7ed;
    border-right: 20px solid #e0e7ed;
  }
  .idea_left {
    margin-left: 0;
  }
  .full_page_blue {
    margin-left: -20px;
    border: 20px solid #f0f6f9;
  }
  .offsethalf {
    margin-left: 41px;
  }
  .intro_area .intro_text,
  .intro_area .intro_buttons {
    width: 48%;
  }
  .design_email_form {
    margin-left: -20px;
  }
  .row-fluid .span6.known_walls {
    margin-left: 0;
  }
  .wedesignform .hanging_needs label {
    text-align: left;
  }
  .wedesignform .contact_information .span3 {
    width: 20%;
    text-align: left;
  }
  .wedesignform .contact_information .span3.first-child {
    margin-left: 0;
  }
  .wedesignform .contact_information .span3 input {
    max-width: 95%;
  }
  .wedesignform .additional_info textarea {
    display: block;
    max-width: 95%;
  }
  #file_uploads_container {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EDEDED;
  }
  .related-items .itembox .product-image {
    float: left;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }
  .search-results-page .row-fluid .span3 {
    width: 30%;
    margin-left: 0;
    margin-right: 3%;
  }
  #searchFAQ .btn {
    margin-top: 15px;
  }
  #locations-map-container .span3,
  #locations-map-container .span9 {
    float: none;
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  #searchFAQ .btn {
    margin-top: 15px;
  }
  .hide-desktop {
    display: block;
  }
  .hide-tablet {
    display: block;
  }
  
  
  body {
    padding: 0px;
    /* opacity: 0; */
  }
  
  header.container {
    padding: 0;
    height: 130px;
    min-height: 110px;
  }
  header.container .cta {
    display: none;
  }
  header.container .logo-image {
    width: 45%;
    margin-left: 0;
    position: absolute;
    left: 5px;
    bottom: 15px;
  }
  header.container .header-search {
    width: 45%;
    bottom: 25px;
  }
  header.container .header-search .header-search-input {
    width: 68%;
  }
  header.container .header-search .btn {
    width: 18%;
    padding: 0;
  }
  footer,
  footer.container {
    width: 100%;
    font-size: 12px;
  }
  footer .row,
  footer.container .row {
    padding-left: 2.5%;
  }
  footer .row [class^="span"],
  footer.container .row [class^="span"],
  footer .row [class*="span"],
  footer.container .row [class*="span"] {
    float: left;
  }
  footer .row .span3,
  footer.container .row .span3 {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  footer .row .span3:after,
  footer.container .row .span3:after {
    width: 0px;
    background-color: transparent;
  }
  footer .footer-bottom-row .span2.col5,
  footer.container .footer-bottom-row .span2.col5 {
    float: none;
    width: 100%;
    margin-right: 0;
    border-right: none;
    padding: 0;
  }
  footer .footer-bottom-row .span2.col5 ul,
  footer.container .footer-bottom-row .span2.col5 ul {
    display: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
  footer .footer-bottom-row .span2.col5 ul li a,
  footer.container .footer-bottom-row .span2.col5 ul li a {
    font-size: 14px;
    display: block;
    padding: 3px 0px;
    border-bottom: 1px solid #e2e2e2;
  }
  footer .footer-bottom-row .span2.col5 h5,
  footer.container .footer-bottom-row .span2.col5 h5 {
    cursor: pointer;
    border-bottom: 1px solid #cfcfcf;
    margin: 0;
    padding: 6px 0;
  }
  footer .footer-bottom-row .span2.col5 h5 i,
  footer.container .footer-bottom-row .span2.col5 h5 i {
    float: right;
  }
  footer .footer-middle-row .span4 p,
  footer.container .footer-middle-row .span4 p {
    text-align: center;
  }
  footer .footer-middle-row .span4 .pull-left,
  footer.container .footer-middle-row .span4 .pull-left {
    float: none;
    display: block;
    text-align: center;
  }
  footer .footer-middle-row .span8,
  footer.container .footer-middle-row .span8 {
    display: none;
  }
  .half-width-block {
    width: 45%;
    float: left;
    margin-left: 5%;
    margin-bottom: 2.5%;
  }
  .categories.related-categories .category.showroom {
    float: none;
    width: 40%;
  }
  .categories > .row,
  .results > .row {
    margin-left: -2.5%;
    *zoom: 1;
  }
  .categories > .row:before,
  .results > .row:before,
  .categories > .row:after,
  .results > .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .categories > .row:after,
  .results > .row:after {
    clear: both;
  }
  .categories > .row .category,
  .results > .row .category {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .results > .row > .span3 {
    width: 45%;
    float: left;
    margin-left: 5%;
    margin-bottom: 2.5%;
  }
  .results > .row > .span3 .product-image {
    width: auto;
  }
  aside.span3 .sort-results em {
    display: block;
    font-style: normal;
    padding-left: 20px;
    font-weight: bold;
    font-size: 11.7px;
    cursor: pointer;
    border-bottom: 1px solid #FFF;
    box-shadow: inset 0px -1px 0px 0px #cfcfcf;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }
  .search-controls .pagination {
    font-size: 12px;
    border-right: none;
    box-shadow: none;
    float: right;
  }
  .search-controls .pagination a {
    margin-right: 6px;
  }
  .search-controls .display-type a {
    margin-right: 6px;
  }
  aside.span3 .sort-results form {
    display: none;
  }
  aside.span3 .sort-results select {
    width: 80%;
    margin: 5px auto;
    display: block;
  }
  .member-account .results > .row > .span3 {
    float: none;
    width: 100%;
    margin: 10px 0;
  }
  .row.categories .row.slider-container {
    margin-left: 0;
    width: 100%;
    height: 170px;
    overflow-x: scroll;
  }
  .row.categories .row.slider-container .slider {
    height: 150px;
    width: auto;
    overflow: visible;
    margin-left: 0px;
  }
  .row.categories .row.slider-container .slider .category {
    height: 140px;
    width: 130px;
    margin: 0 20px 0 0;
    float: left;
  }
  .row.categories .row.slider-container .slider ul {
    position: static;
    margin-top: 5px;
  }
  .row.categories .row.slider-container #left,
  .row.categories .row.slider-container #right {
    display: none;
  }
  .categories .category {
    width: 45%;
    float: left;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
  }
  .category-header span.pull-right {
    display: block;
    float: none;
    font-size: 12px;
    margin-top: 0;
  }
  .home-content .span9.carousel-holder {
    width: 114%;
    margin-left: -7%;
    margin-top: 0px;
  }
  .home-content .span9.carousel-holder #homeCarousel {
    border: none;
  }
  .home-content .span9.carousel-holder #homeCarousel .carousel-inner {
    height: auto;
  }
  .home-content .span9.carousel-holder #homeCarousel .carousel-inner .carousel-caption {
    bottom: 0px;
  }
  .home-content .span9.carousel-holder .carousel-control.left {
    left: 2%;
  }
  .home-content .span9.carousel-holder .carousel-control.right {
    right: 2%;
  }
  .home-content .row.categories .span2.category {
    margin-left: 2.5%;
    -webkit-box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    margin-top: .5em;
    margin-bottom: .5em;
    padding-bottom: 0;
    border-radius: 0px;
    width: 97.5%;
    border: none;
    float: none;
  }
  .home-content .row.categories .span2.category:last-child {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .home-content .row.categories .span2.category:hover,
  .home-content .row.categories .span2.category:active {
    background-color: #2e6c81;
    color: #ffffff;
  }
  .home-content .row.categories .span2.category:hover a .caption,
  .home-content .row.categories .span2.category:active a .caption {
    color: #ffffff;
    text-shadow: none;
  }
  .home-content .row.categories .span2.category a img {
    width: 10%;
    float: left;
    margin-right: 2.5%;
  }
  .home-content .row.categories .span2.category a .caption {
    background: transparent;
    position: static;
    text-align: left;
    width: 87.5%;
    padding: 0;
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
    color: #2e6c81;
    font-size: 14px;
  }
  .home-content .row.categories {
    background-color: #dce9f0;
    margin-top: 10px;
    border-radius: 6px;
  }
  .home-content .row.categories hr {
    margin: 0;
  }
  .home-content .row.categories h3 {
    font-size: 15px;
    line-height: normal;
    background-color: #88cbe5;
    border-radius: 6px 6px 0px 0px;
    margin: 0;
    padding: 12px 70px 12px 0px;
    position: relative;
  }
  .home-content .row.categories h3.hidden-content {
    border-radius: 6px;
  }
  .home-content .row.categories h3 a {
    display: block;
    font-weight: bold;
    margin-left: 15px;
  }
  .home-content .row.categories h3 .toggle-btn {
    display: block;
    padding: 6px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #caeefe;
    background-color: #8ccde6;
    background-image: -moz-linear-gradient(top, #9dd4ea, #73c2e0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9dd4ea), to(#73c2e0));
    background-image: -webkit-linear-gradient(top, #9dd4ea, #73c2e0);
    background-image: -o-linear-gradient(top, #9dd4ea, #73c2e0);
    background-image: linear-gradient(to bottom, #9dd4ea, #73c2e0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9dd4ea', endColorstr='#ff73c2e0', GradientType=0);
    -webkit-box-shadow: 0px -1px 2px #2e6c81;
    -moz-box-shadow: 0px -1px 2px #2e6c81;
    box-shadow: 0px -1px 2px #2e6c81;
    border-radius: 6px;
    position: absolute;
    margin-right: 15px;
    text-indent: 0px;
    right: 0px;
    top: 6px;
  }
  .home-top-right {
    *zoom: 1;
	/*
    background-color: #caeefe;
	*/
    position: relative;
    padding-bottom: 30px;
  }
  .home-top-right:before,
  .home-top-right:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .home-top-right:after {
    clear: both;
  }
  
  
  /*
  .home-top-right img.top-right-img {
    float: left;
    width: 45%;
    margin-right: 2.5%;
  }
  
  .home-top-right .home_CTA_form {
    float: left;
    width: 50%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .home-top-right .home_CTA_form form {
    background-color: transparent;
  }
  .home-top-right .home_CTA_form form table {
    width: 100%;
  }
  .home-top-right .home_CTA_form form table input {
    width: 99%;
  }
  .home-top-right .home_CTA_form .btn {
    position: absolute;
    left: 1%;
    bottom: 1%;
    width: 98%;
    padding: 6px 0px;
  }
  */
  .sidebar-home {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .category-header {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .span3 > .itembox .qty {
    font-size: 10px;
  }
  .btn.add-to-cart {
    padding: 4px 8px;
  }
  .span9 > .itembox {
    width: 75%;
    padding-left: 25%;
  }
  .span9 > .itembox .product-price {
    position: static;
  }
  .span9 > .itembox .product-image {
    width: 15%;
    height: auto;
    max-height: 80px;
    margin: 0px;
    position: absolute;
    left: 2.5%;
    top: 10px;
  }
  .results .itembox h3 {
    font-size: 14px;
  }
  .shop-page aside > ul,
  .showroom-page aside > ul,
  .breadcrumbs {
    display: none;
  }
  .hide-mobile,
  .search-controls .display-type.hide-mobile,
  .search-results-page aside > ul {
    display: none;
  }
  .sidebar-left aside {
    width: 100%;
    margin-top: 20px;

  }
  .sidebar-left aside h5 {
    cursor: pointer;
  }
  .sidebar-left .intro_area,
  .sidebar-right .intro_area {
    padding: 0 20px 20px 20px;
    margin-left: -20px;
  }
  .search-controls {
    position: relative;
    margin-top: 10px;
  }
  .search-controls .result-summary,
  .search-controls .display-type,
  .search-controls .pagination,
  .search-controls .results-per-page,
  .search-controls .sort-results {
    padding: 10px 5px;
    height: 28px;
  }
  .search-controls .result-summary,
  .search-controls .results-per-page {
    display: none;
  }
  .search-controls .sort-results {
    padding: 0;
  }
  .search-controls .sort-results select {
    font-size: 10px;
    z-index: 0;
    /*position: absolute;*/
    top: 10px;
    right: 3px;
    width: 26%;
  }
  .location-finder #zip {
    margin-bottom: 10px;
  }
  .specs_holder .span3 {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #2e6c81;
  }
  .specs_holder .span3 h5 {
    padding-bottom: 0;
    border-bottom: none;
  }
  .cart-item .itembox .span2 {
    width: 70%;
    float: left;
  }
  .cart-item .itembox .cart-product-image {
    width: 20%;
    float: left;
    margin: 1% 4% 4% 2.5%;
  }
  .cart-item .itembox .cart-product-image .product-image {
    width: auto;
    height: auto;
    max-height: 100%;
    margin: 0 0 8px 0;
  }
  .cart-item .itembox .span4.product-details {
    width: 70%;
    position: static;
    left: auto;
    float: left;
    margin-bottom: 0;
  }
  .cart-item .itembox .span4.product-details h5 {
    color: #272e31;
    margin-bottom: 0;
  }
  .cart-item .product-price p,
  .cart-item .product-unit-price p {
    text-align: left;
    font-size: 11px;
    font-weight: normal;
    color: #272e31;
    line-height: 120%;
    margin: 5px 0;
  }
  .cart-item .itembox .product-qty {
    display: none;
  }
  .cart-item span.hide-desktop {
    display: inline;
  }
  .cart .cart-item .itembox h3 a {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
  }
  .fancybox-inner .product-qty.hide-mobile > h3 {
    line-height: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: normal;
  }
  .fancybox-inner .product-qty.hide-mobile > .cart-item > input {
    width: 30%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .fancybox-inner .product-qty.hide-mobile > .cart-item > .btn-link {
    float: left;
    padding: 5px 10px;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(top, #f9f9f9, #d3d3d3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#d3d3d3));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #d3d3d3);
    background-image: -o-linear-gradient(top, #f9f9f9, #d3d3d3);
    background-image: linear-gradient(to bottom, #f9f9f9, #d3d3d3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffd3d3d3', GradientType=0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    margin: 0px 0px 0px 5px;
  }
  .fancybox-inner .product-qty.hide-mobile > .cart-item > br {
    display: none;
  }
  .totals-box.itembox .span2,
  .totals-box.itembox .span3,
  .grand-totals-box.itembox .span2,
  .grand-totals-box.itembox .span3 {
    width: 47.5%;
    float: left;
    margin-right: 2.5%;
  }
  .totals-box.itembox .span2.totals-right,
  .totals-box.itembox .span3.totals-right,
  .grand-totals-box.itembox .span2.totals-right,
  .grand-totals-box.itembox .span3.totals-right {
    margin-left: 2.5%;
    margin-right: 0;
  }
  #rate-heading {
    padding-top: 10px;
  }
  h1#mobile-cart-heading {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  h1.cart-heading {
    *zoom: 1;
  }
  h1.cart-heading:before,
  h1.cart-heading:after {
    display: table;
    content: "";
    line-height: 0;
  }
  h1.cart-heading:after {
    clear: both;
  }
  h1.cart-heading:before {
    display: block;
    content: '';
    background-color: #ececec;
    background-image: -moz-linear-gradient(top, #ffffff, #cfcfcf);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cfcfcf));
    background-image: -webkit-linear-gradient(top, #ffffff, #cfcfcf);
    background-image: -o-linear-gradient(top, #ffffff, #cfcfcf);
    background-image: linear-gradient(to bottom, #ffffff, #cfcfcf);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffcfcfcf', GradientType=0);
    height: 10px;
    margin-bottom: 10px;
  }
  h1.cart-heading:after {
    display: block;
    content: '';
    background-color: #e2e2e2;
    background-image: -moz-linear-gradient(top, #cfcfcf, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #cfcfcf, #ffffff);
    background-image: -o-linear-gradient(top, #cfcfcf, #ffffff);
    background-image: linear-gradient(to bottom, #cfcfcf, #ffffff);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcfcfcf', endColorstr='#ffffffff', GradientType=0);
    height: 10px;
  }
  h1.cart-heading span.continue-shopping-link {
    font-size: 13px;
    line-height: normal;
    width: 45%;
    float: left;
    margin-top: 10px;
    margin-right: 0px;
  }
  h1.cart-heading .btn-success {
    margin-bottom: 10px;
  }
  .checkout .checkout-input,
  .checkout .checkout-input-small,
  .checkout select {
    width: 90%;
    margin-left: 2.5%;
  }
  .checkout .step-two a,
  .checkout .continue-btn {
    margin-left: 2.5%;
  }
  .checkout .checkout-input-group label {
    left: 10px;
  }
  .cart-item .itembox .span1 {
    width: 18%;
    float: left;
    margin: 1% 2%;
  }
  .checkout .cart_hider .align-right {
    text-align: left;
  }
  .order-review.itembox .span6 {
    width: 100%;
  }
  .order-review.itembox .span3,
  .order-review.itembox .span2,
  .order-review.itembox .span4 {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    float: left;
  }
  .order-review.itembox .span3 h3,
  .order-review.itembox .span2 h3,
  .order-review.itembox .span4 h3 {
    margin: 0;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 130%;
    text-align: left;
  }
  .confirmation h1.align-center {
    margin-top: gridGutterWidth768;
  }
  .intro_area {
    margin-top: 20px;
  }
  .intro_area .banner,
  .intro_area .intro_text,
  .intro_area .intro_buttons {
    position: static;
    width: 100%;
  }
  .intro_area .intro_buttons {
    margin-bottom: 10px;
    *zoom: 1;
  }
  .intro_area .intro_buttons:before,
  .intro_area .intro_buttons:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .intro_area .intro_buttons:after {
    clear: both;
  }
  .intro_area .intro_buttons a.btn {
    margin: 10px;
  }
  .itembox-columns .itembox,
  .design-online .itembox {
    padding-bottom: 50px;
    min-height: 0;
  }
  .installation_step_holder .step_menu ul li a {
    padding-left: 20px;
  }
  .installation_step_holder .step_menu ul li a .step_number {
    left: 5px;
  }
  .installation_tool_holder {
    margin-top: 20px;
  }
  .installation_tool_holder .row .span2 {
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  .installation_tool_holder .row .span2:last-child {
    margin-right: 0;
  }
  .page-content > h1,
  .span12 > h1 {
    margin-top: 20px;
  }
  #input_feedback {
    width: 95%;
    height: 200px;
  }
  .span3.account-column {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .member-account .account-header {
    font-size: 18px;
    padding: 5px 0;
  }
  .account-design-option {
    font-size: 15px;
    float: left;
  }
  .member-account h3.account-actions {
    font-size: 14px;
  }
  .member-account .account-settings h3 {
    line-height: 120%;
  }
  .account-settings a.pull-right {
    margin: 0;
    float: none;
  }
  .account-welcome {
    float: none;
    color: #a0a0a0;
    margin-top: 20px;
  }
  .account-designs .span9 .design-list li.itembox {
    position: static;
  }
  .account-designs .span9 .design-list li.itembox ul {
    position: static;
  }
  .account-designs .span9 .design-list li.itembox ul li {
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  .showroom-banner {
    background-image: none;
    *zoom: 1;
    height: auto;
  }
  .showroom-banner:before,
  .showroom-banner:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .showroom-banner:after {
    clear: both;
  }
  .showroom-banner h1 {
    position: static;
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
  }
  .showroom-banner h1:before {
    font-size: 21px;
    font-weight: 100;
    content: 'Showroom: ';
  }
  .showroom-banner div.pull-right {
    margin: 20px;
  }
  .showrooms-banner {
    background-size: 750px auto;
    background-position: top left;
    height: 80px;
    margin-top: 10px;
  }
  .lightbox-content {
    width: auto;
    height: auto;
    padding: 0;
  }
  .lightbox-content select {
    width: auto;
    max-width: 90%;
  }
  .design_email_form {
    border: 0;
  }
  .page_top_area_full .pull-right {
    float: none;
  }
  .page_top_area_full h1 {
    text-align: center;
  }
  .wedesignform fieldset legend {
    padding: 10px 2% 10px 15%;
    width: 85%;
    line-height: 127%;
    text-indent: 0;
  }
  .progressbar {
    margin: 20px auto;
    width: 100%;
    max-width: 290px;
    background: transparent url(../images/wedesign-progress-sprite-half.gif) no-repeat 0 0;
    height: 17px;
  }
  .progressbar a {
    width: 95px;
    height: 17px;
  }
  .progressbar.step1visible {
    background-position: 0 0;
  }
  .progressbar.step2visible {
    background-position: 0 -17px;
  }
  .progressbar.step3visible {
    background-position: 0 -35px;
  }
  .wedesignform fieldset legend {
    font-size: 15px;
  }
  .wedesignform .hanging_needs label {
    text-align: left;
  }
  .wedesignform .finish .span3 {
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  .wedesignform .storage_dimensions .span3 {
    width: 30%;
    float: left;
    margin-right: 3%;
  }
  .wedesignform .wall_dimensions .twocols.span3.known_walls {
    width: 28%;
    float: left;
  }
  .wedesignform .wall_dimensions .twocols.span3.known_walls input {
    width: 60px;
  }
  .wedesignform .wall_dimensions .otherwalldimensions {
    width: 68%;
    margin-left: 4%;
    float: left;
  }
  .wedesignform .door_type .doortypes {
    width: 30%;
    float: left;
    margin-left: 3%;
    height: 80px;
  }
  .wedesignform .contact_information .fourcols,
  .wedesignform .additional_info {
    text-align: left;
  }
  .wedesignform .contact_information .fourcols label,
  .wedesignform .additional_info label {
    text-align: left;
  }
  .wedesignform .contact_information .fourcols select,
  .wedesignform .additional_info select,
  .wedesignform .contact_information .fourcols textarea,
  .wedesignform .additional_info textarea {
    max-width: 200px;
  }
  .wedesignform #step4 hr {
    margin: 5px 0;
  }
  .wedesignform #step4 .span4 {
    width: 45%;
    float: left;
    margin-right: 5%;
  }
  .wedesignform #step4 .container {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .wedesignform #step4 h5 {
    color: #70bcd6;
  }
  .wedesignform .contact_information .fourcols select {
    float: none;
  }
  #file_uploads_container {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
  }
  .wedesignform .additional_info textarea {
    display: block;
    max-width: 95%;
  }
  .downloads .span6 {
    border-bottom: 1px solid #70bcd6;
  }
}
@media (max-width: 399px) {
  h1 {
    font-size: 24px;
    line-height: 26px;
  }
  h2 {
    font-size: 19px;
    line-height: 21px;
  }
  h3 {
    font-size: 17px;
  }
  .span3 > .itembox .qty {
    position: static;
    display: block;
  }
  .span3 > .itembox .btn.add-to-cart {
    right: auto;
    left: 10px;
  }
  .itembox .btn.add-to-cart {
    padding: 3px;
    font-size: 11px;
  }
  header.container {
    height: 110px;
  }
  h1.cart-heading span.continue-shopping-link span {
    float: left;
    width: 75%;
  }
  h1.cart-heading span.continue-shopping-link i.icon-triangle-left {
    float: left;
    width: 24%;
    margin-right: 1%;
  }
  nav#mobile-top-nav a.mobile-nav-trigger {
    width: 11%;
  }
  nav#mobile-top-nav a.mobile-nav-trigger i:after {
    content: '';
  }
  nav#mobile-top-nav a#mobile-contact-info {
    width: 45%;
  }
  nav#mobile-top-nav a#mobile-cart {
    width: 17%;
  }
  nav#mobile-top-nav a#mobile-account-menu-trigger {
    width: 11%;
  }
  nav#mobile-top-nav a#mobile-account-menu-trigger i:after {
    content: '';
  }
}
