.col-lg-325 {
	@include media-breakpoint-up(lg) {
		max-width: 340px;
		flex: 0 0 340px;
	}
}

.col-lg-64per {
	@include media-breakpoint-up(lg) {
		max-width: 65.6%;
		flex: 0 0 66.6%;
	}
}

.pt-20 {
	padding-top: 20px;
}

.mx--20 {
	margin-right: -20px;
	margin-left: -20px;
}

.px-30 {
	padding-right: 30px;
	padding-left: 30px;
}

.border-top {


	@include media-breakpoint-down(md) {
		&__md {
			border-top: 1px solid;
		}
	}
}

.border__gray {
	border-color: rgba(128, 128, 128, 0.2);
}

.border__none {
	border: none;
}

.fs-md-16px {
	@include media-breakpoint-down(md) {
		font-size: 16px !important;
	}
}

.fs-md-18px {
	@include media-breakpoint-down(md) {
		font-size: 18px !important;
	}
}


.mb-md-down-0 {
	@include media-breakpoint-down(md) {
		margin-bottom: 0 !important;
	}
}



.mb-md-30 {
	@include media-breakpoint-down(md) {
		margin-bottom: 30px !important;
	}
}


.mt-300 {
	margin-top: 300px;
}

.mb-30 {
	margin-bottom: 30px;
}
