.select-custom {
	z-index: 2;
	position: relative;
	height: 40px;

	&__box {
		position: absolute;
		top: 0;
		left: 0;
		padding-right: 15px;
		padding-left: 15px;
		width: 100%;
		border: 1px solid $seventh-color;
		background-color: $first-color;

	}

	&__list {
		display: none;

		.select-custom__option {
			cursor: pointer;
		}
	}

	&:hover {
		cursor: pointer;

		//.select-custom__list {
		//	display: block !important;
		//}
		//
		//.select-custom__box {
		//	border: 1px solid transparent;
		//	box-shadow: 0 0 20px rgba(0, 0, 0, 0.26)
		//}
	}

	.select-custom__box.active {
		border: 1px solid transparent;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.26)
	}

	.home-consult-form__select {
		&__selected {
			position: relative;

			.select-custom__option {
				border: none;

				&__set-default {
					padding-right: 25px;
				}
			}

			.select-custom__option__wrap {
				display: flex;
				flex-direction: row;
				max-height: 40px;
				padding-top: 10px;
				padding-bottom: 10px;


				.select-custom__option__text {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}


			}
		}
	}

	&__option__set-default {
		font-family: $default-font-family-semi-bold;
	}

	&__option {
		border-top: 1px solid rgba(0, 0, 0, 0.125);

		&__wrap {
			margin: 0;
			padding-top: 15px;
			padding-bottom: 15px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}

		color: $default-color;
		font-family: $default-font-family;
		@include fluid-type(font-size, 320px, 1400px, 12px, 14px);

		.set-default {
			display: none;
		}

		&__text {
			padding-right: 15px;
		}

		&__text,
		&__set-default {
			margin: 0;
			line-height: 1.4;
		}

		&__set-default {
			margin-left: auto;
		}

		&.default {
			.set-default {
				display: block;
			}
		}
	}

	&__img-wrap {
		width: 37px;
		margin-right: 15px;
	}
}

.bootstrap-select__ctg {
	max-width: 300px;
	margin: 0 auto 15px;

	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 100%;
	}

	.dropdown-item.active, .dropdown-item:active {
		color: #fff;
		text-decoration: none;
		background-color: #384765;
	}

	.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
		outline: none !important;
	}

	.btn-light:hover,
	.btn-light:focus {
		border: 1px solid #FFFFFF !important;
	}
	.btn-light:not(:disabled):not(.disabled):active,
	.btn-light:not(:disabled):not(.disabled).active,
	.show > .btn-light.dropdown-toggle,
	.btn-light:not(:disabled):not(.disabled):active:focus,
	.btn-light:not(:disabled):not(.disabled).active:focus {
		border: 1px solid #ffffff !important;
		background-color: #384765;
		color: #ffffff !important;
		box-shadow: none;
	}

	.bootstrap-select .bs-ok-default:after {
		border-width: 0 2px 2px 0;
		border-color: #eb5c25;
	}

	.dropdown-item {

	}

	.bootstrap-select > .dropdown-toggle:after {
		content: "";
		position: absolute;
		top: calc(50% - 4px);
		right: 10px;
		display: block;
		width: 8px;
		height: 8px;
		border-top: none;
		border-right: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		border-left: none;
		transform: rotate(316deg);
		transition: all 0.3s ease;
	}

	.bootstrap-select.show > .dropdown-toggle:after {
		transform: rotate(43deg);
	}

	.dropdown-toggle {
		height: 38px;
		padding: 0 30px 0 11px;
		font-family: "SegoeUI", sans-serif;
		font-size: 14px;
		cursor: pointer;
		line-height: 38px;
	}

	.bootstrap-select > .dropdown-toggle.bs-placeholder,
	.btn-light {
		text-transform: inherit;
		border: 1px solid #ffffff !important;
		background-color: #384765;
		color: #ffffff !important;
	}


}
