#AuthType Basic
#AuthName "manage"
#AuthUserFile "/home/bridgepo/.htpasswds/public_html/manage/passwd"
#require valid-user
#
#suPHP_ConfigPath /home/bridgepo/public_html
#suPHP_ConfigPath /home/otgtotest/public_html
#suPHP_ConfigPath /home/onlinecl/public_html
#suPHP_ConfigPath /home/organize/public_html

ErrorDocument 404 /404.html

